<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let pelicula of peliculas">
    <ion-list-header>
      {{pelicula.Title}}
    </ion-list-header>
    <ion-item *ngFor="let char of pelicula.personajes">
      <ion-avatar item-start>
        <img src={{char.imagen}}>
      </ion-avatar>
      <h2 (click)="sendActor(pelicula.id,char.id)"
       >{{char.nombre}}</h2>
      <p>{{char.actor}}</p>
    </ion-item>
    
  </ion-list>
</ion-content>
